<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>811451847857-5as7nt2q01hnmp1fpeg001bo41e68ca1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.811451847857-5as7nt2q01hnmp1fpeg001bo41e68ca1</string>
	<key>API_KEY</key>
	<string>AIzaSyCmrmOy-YW6tmvrn89qEW_YidFTsGkAFXY</string>
	<key>GCM_SENDER_ID</key>
	<string>811451847857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Alex.Navigation</string>
	<key>PROJECT_ID</key>
	<string>navigation-e9f22</string>
	<key>STORAGE_BUCKET</key>
	<string>navigation-e9f22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811451847857:ios:4ad301987b2ba9d1527e90</string>
</dict>
</plist>